# Files with this extension contain information that is specific
# to this system, sensitive, and should not be committed to the repo.
#######################################################################
*.local.bash


# File with this extension contain default setting that are specific
# to this system.
#######################################################################
*.defaults


# If you are supposed to be the future, why-come-u-so-dumb? Even after
# uninstalling everyting (of pipenv) I went back through setting different
# directories for the install.  They were used, but then moment later pew
# and pipenv are dropped in my ./local/bin w/o any way, that I can see, to
# control the install.
#
#   https://docs.pipenv.org/install.html#fancy-installation-of-pipenv
##
bin/pew
bin/pipenv
share/virtualenvs/
share/NuGet/
venvs/

